<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cut_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,151}</string>
                <key>spriteSourceSize</key>
                <string>{218,151}</string>
                <key>textureRect</key>
                <string>{{0,0},{218,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cut_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,151}</string>
                <key>spriteSourceSize</key>
                <string>{218,151}</string>
                <key>textureRect</key>
                <string>{{218,0},{218,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cut_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,151}</string>
                <key>spriteSourceSize</key>
                <string>{218,151}</string>
                <key>textureRect</key>
                <string>{{436,0},{218,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cut_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,151}</string>
                <key>spriteSourceSize</key>
                <string>{218,151}</string>
                <key>textureRect</key>
                <string>{{654,0},{218,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cut_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,151}</string>
                <key>spriteSourceSize</key>
                <string>{218,151}</string>
                <key>textureRect</key>
                <string>{{872,0},{218,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cut_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,151}</string>
                <key>spriteSourceSize</key>
                <string>{218,151}</string>
                <key>textureRect</key>
                <string>{{0,151},{218,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cut_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,151}</string>
                <key>spriteSourceSize</key>
                <string>{218,151}</string>
                <key>textureRect</key>
                <string>{{218,151},{218,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cut_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,151}</string>
                <key>spriteSourceSize</key>
                <string>{218,151}</string>
                <key>textureRect</key>
                <string>{{436,151},{218,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cut_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,151}</string>
                <key>spriteSourceSize</key>
                <string>{218,151}</string>
                <key>textureRect</key>
                <string>{{654,151},{218,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cut_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,151}</string>
                <key>spriteSourceSize</key>
                <string>{218,151}</string>
                <key>textureRect</key>
                <string>{{872,151},{218,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cut_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,151}</string>
                <key>spriteSourceSize</key>
                <string>{218,151}</string>
                <key>textureRect</key>
                <string>{{0,302},{218,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cut_011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,151}</string>
                <key>spriteSourceSize</key>
                <string>{218,151}</string>
                <key>textureRect</key>
                <string>{{218,302},{218,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cut_012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,151}</string>
                <key>spriteSourceSize</key>
                <string>{218,151}</string>
                <key>textureRect</key>
                <string>{{436,302},{218,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cut_013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,151}</string>
                <key>spriteSourceSize</key>
                <string>{218,151}</string>
                <key>textureRect</key>
                <string>{{654,302},{218,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cut_014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,151}</string>
                <key>spriteSourceSize</key>
                <string>{218,151}</string>
                <key>textureRect</key>
                <string>{{872,302},{218,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>cut.png</string>
            <key>size</key>
            <string>{1090,453}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ba22c25a1a6049a461d11989da7781f3:8897aa2dd7c0a25f132f2a242cef6fb0:cd53d74a8837be9034a69503434df70a$</string>
            <key>textureFileName</key>
            <string>cut.png</string>
        </dict>
    </dict>
</plist>
