<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jum_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{184,151}}</string>
                <key>offset</key>
                <string>{0,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,48},{184,151}}</string>
                <key>sourceSize</key>
                <string>{184,201}</string>
            </dict>
            <key>jum_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,2},{182,151}}</string>
                <key>offset</key>
                <string>{-1,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,44},{182,151}}</string>
                <key>sourceSize</key>
                <string>{184,201}</string>
            </dict>
            <key>jum_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,155},{180,151}}</string>
                <key>offset</key>
                <string>{-1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,40},{180,151}}</string>
                <key>sourceSize</key>
                <string>{184,201}</string>
            </dict>
            <key>jum_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,155},{176,151}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,36},{176,151}}</string>
                <key>sourceSize</key>
                <string>{184,201}</string>
            </dict>
            <key>jum_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,308},{174,151}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,32},{174,151}}</string>
                <key>sourceSize</key>
                <string>{184,201}</string>
            </dict>
            <key>jum_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,447},{172,151}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,28},{172,151}}</string>
                <key>sourceSize</key>
                <string>{184,201}</string>
            </dict>
            <key>jum_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,461},{170,151}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,24},{170,151}}</string>
                <key>sourceSize</key>
                <string>{184,201}</string>
            </dict>
            <key>jum_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,614},{166,151}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,20},{166,151}}</string>
                <key>sourceSize</key>
                <string>{184,201}</string>
            </dict>
            <key>jum_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,619},{164,151}}</string>
                <key>offset</key>
                <string>{-2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,16},{164,151}}</string>
                <key>sourceSize</key>
                <string>{184,201}</string>
            </dict>
            <key>jum_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,727},{162,151}}</string>
                <key>offset</key>
                <string>{-3,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,12},{162,151}}</string>
                <key>sourceSize</key>
                <string>{184,201}</string>
            </dict>
            <key>jum_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,767},{160,151}}</string>
                <key>offset</key>
                <string>{-3,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{160,151}}</string>
                <key>sourceSize</key>
                <string>{184,201}</string>
            </dict>
            <key>jum_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,466},{156,151}}</string>
                <key>offset</key>
                <string>{-3,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,4},{156,151}}</string>
                <key>sourceSize</key>
                <string>{184,201}</string>
            </dict>
            <key>jum_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,880},{154,151}}</string>
                <key>offset</key>
                <string>{-3,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{154,151}}</string>
                <key>sourceSize</key>
                <string>{184,201}</string>
            </dict>
            <key>jum_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,909},{152,151}}</string>
                <key>offset</key>
                <string>{-3,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,3},{152,151}}</string>
                <key>sourceSize</key>
                <string>{184,201}</string>
            </dict>
            <key>jum_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,920},{152,151}}</string>
                <key>offset</key>
                <string>{-3,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,7},{152,151}}</string>
                <key>sourceSize</key>
                <string>{184,201}</string>
            </dict>
            <key>jum_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1033},{150,151}}</string>
                <key>offset</key>
                <string>{-3,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,11},{150,151}}</string>
                <key>sourceSize</key>
                <string>{184,201}</string>
            </dict>
            <key>jum_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,1062},{150,149}}</string>
                <key>offset</key>
                <string>{-3,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,17},{150,149}}</string>
                <key>sourceSize</key>
                <string>{184,201}</string>
            </dict>
            <key>jum_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,315},{148,149}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,21},{148,149}}</string>
                <key>sourceSize</key>
                <string>{184,201}</string>
            </dict>
            <key>jum_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,1073},{148,149}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,26},{148,149}}</string>
                <key>sourceSize</key>
                <string>{184,201}</string>
            </dict>
            <key>jum_019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1185},{146,149}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,30},{146,149}}</string>
                <key>sourceSize</key>
                <string>{184,201}</string>
            </dict>
            <key>jum_020.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,1213},{146,149}}</string>
                <key>offset</key>
                <string>{-3,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,34},{146,149}}</string>
                <key>sourceSize</key>
                <string>{184,201}</string>
            </dict>
            <key>jum_021.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,1223},{144,149}}</string>
                <key>offset</key>
                <string>{-3,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,38},{144,149}}</string>
                <key>sourceSize</key>
                <string>{184,201}</string>
            </dict>
            <key>jum_022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1333},{144,147}}</string>
                <key>offset</key>
                <string>{-3,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,44},{144,147}}</string>
                <key>sourceSize</key>
                <string>{184,201}</string>
            </dict>
            <key>jum_023.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,166},{142,147}}</string>
                <key>offset</key>
                <string>{-3,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,49},{142,147}}</string>
                <key>sourceSize</key>
                <string>{184,201}</string>
            </dict>
            <key>jum_024.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,1369},{142,147}}</string>
                <key>offset</key>
                <string>{-3,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,53},{142,147}}</string>
                <key>sourceSize</key>
                <string>{184,201}</string>
            </dict>
            <key>jum_025.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,1369},{146,143}}</string>
                <key>offset</key>
                <string>{-3,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,58},{146,143}}</string>
                <key>sourceSize</key>
                <string>{184,201}</string>
            </dict>
            <key>jum_026.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,772},{154,135}}</string>
                <key>offset</key>
                <string>{-3,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,66},{154,135}}</string>
                <key>sourceSize</key>
                <string>{184,201}</string>
            </dict>
            <key>jum_027.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,2},{162,127}}</string>
                <key>offset</key>
                <string>{-3,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,73},{162,127}}</string>
                <key>sourceSize</key>
                <string>{184,201}</string>
            </dict>
            <key>jum_028.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,600},{168,125}}</string>
                <key>offset</key>
                <string>{-2,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,75},{168,125}}</string>
                <key>sourceSize</key>
                <string>{184,201}</string>
            </dict>
            <key>jum_029.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,308},{176,137}}</string>
                <key>offset</key>
                <string>{-2,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,63},{176,137}}</string>
                <key>sourceSize</key>
                <string>{184,201}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dango1_jump.png</string>
            <key>size</key>
            <string>{506,1537}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:70122cabb8f40893e80b35ad36790eff:23bfffa8419127dc00fd3a38ba60d5c7:8f1a9f0862a811766849c38d6382f9ee$</string>
            <key>textureFileName</key>
            <string>dango1_jump.png</string>
        </dict>
    </dict>
</plist>
