<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dango2_j_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,222}</string>
                <key>spriteSourceSize</key>
                <string>{189,222}</string>
                <key>textureRect</key>
                <string>{{0,0},{189,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dango2_j_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,222}</string>
                <key>spriteSourceSize</key>
                <string>{189,222}</string>
                <key>textureRect</key>
                <string>{{189,0},{189,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dango2_j_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,222}</string>
                <key>spriteSourceSize</key>
                <string>{189,222}</string>
                <key>textureRect</key>
                <string>{{378,0},{189,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dango2_j_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,222}</string>
                <key>spriteSourceSize</key>
                <string>{189,222}</string>
                <key>textureRect</key>
                <string>{{567,0},{189,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dango2_j_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,222}</string>
                <key>spriteSourceSize</key>
                <string>{189,222}</string>
                <key>textureRect</key>
                <string>{{756,0},{189,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dango2_j_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,222}</string>
                <key>spriteSourceSize</key>
                <string>{189,222}</string>
                <key>textureRect</key>
                <string>{{945,0},{189,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dango2_j_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,222}</string>
                <key>spriteSourceSize</key>
                <string>{189,222}</string>
                <key>textureRect</key>
                <string>{{1134,0},{189,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dango2_j_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,222}</string>
                <key>spriteSourceSize</key>
                <string>{189,222}</string>
                <key>textureRect</key>
                <string>{{1323,0},{189,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dango2_j_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,222}</string>
                <key>spriteSourceSize</key>
                <string>{189,222}</string>
                <key>textureRect</key>
                <string>{{0,222},{189,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dango2_j_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,222}</string>
                <key>spriteSourceSize</key>
                <string>{189,222}</string>
                <key>textureRect</key>
                <string>{{189,222},{189,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dango2_j_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,222}</string>
                <key>spriteSourceSize</key>
                <string>{189,222}</string>
                <key>textureRect</key>
                <string>{{378,222},{189,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dango2_j_011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,222}</string>
                <key>spriteSourceSize</key>
                <string>{189,222}</string>
                <key>textureRect</key>
                <string>{{567,222},{189,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dango2_j_012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,222}</string>
                <key>spriteSourceSize</key>
                <string>{189,222}</string>
                <key>textureRect</key>
                <string>{{756,222},{189,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dango2_j_013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,222}</string>
                <key>spriteSourceSize</key>
                <string>{189,222}</string>
                <key>textureRect</key>
                <string>{{945,222},{189,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dango2_j_014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,222}</string>
                <key>spriteSourceSize</key>
                <string>{189,222}</string>
                <key>textureRect</key>
                <string>{{1134,222},{189,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dango2_j_015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,222}</string>
                <key>spriteSourceSize</key>
                <string>{189,222}</string>
                <key>textureRect</key>
                <string>{{1323,222},{189,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dango2_j_016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,222}</string>
                <key>spriteSourceSize</key>
                <string>{189,222}</string>
                <key>textureRect</key>
                <string>{{0,444},{189,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dango2_j_017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,222}</string>
                <key>spriteSourceSize</key>
                <string>{189,222}</string>
                <key>textureRect</key>
                <string>{{189,444},{189,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dango2_j_018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,222}</string>
                <key>spriteSourceSize</key>
                <string>{189,222}</string>
                <key>textureRect</key>
                <string>{{378,444},{189,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dango2_j_019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,222}</string>
                <key>spriteSourceSize</key>
                <string>{189,222}</string>
                <key>textureRect</key>
                <string>{{567,444},{189,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dango2_j_020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,222}</string>
                <key>spriteSourceSize</key>
                <string>{189,222}</string>
                <key>textureRect</key>
                <string>{{756,444},{189,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dango2_j_021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,222}</string>
                <key>spriteSourceSize</key>
                <string>{189,222}</string>
                <key>textureRect</key>
                <string>{{945,444},{189,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dango2_j_022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,222}</string>
                <key>spriteSourceSize</key>
                <string>{189,222}</string>
                <key>textureRect</key>
                <string>{{1134,444},{189,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dango2_j_023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,222}</string>
                <key>spriteSourceSize</key>
                <string>{189,222}</string>
                <key>textureRect</key>
                <string>{{1323,444},{189,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dango2_jd_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,220}</string>
                <key>spriteSourceSize</key>
                <string>{185,220}</string>
                <key>textureRect</key>
                <string>{{0,666},{185,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dango2_jd_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,220}</string>
                <key>spriteSourceSize</key>
                <string>{185,220}</string>
                <key>textureRect</key>
                <string>{{185,666},{185,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dango2_jd_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,220}</string>
                <key>spriteSourceSize</key>
                <string>{185,220}</string>
                <key>textureRect</key>
                <string>{{370,666},{185,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dango2_jd_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,220}</string>
                <key>spriteSourceSize</key>
                <string>{185,220}</string>
                <key>textureRect</key>
                <string>{{555,666},{185,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dango2_jd_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,220}</string>
                <key>spriteSourceSize</key>
                <string>{185,220}</string>
                <key>textureRect</key>
                <string>{{740,666},{185,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dango2_jd_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,220}</string>
                <key>spriteSourceSize</key>
                <string>{185,220}</string>
                <key>textureRect</key>
                <string>{{925,666},{185,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dango2_jd_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,220}</string>
                <key>spriteSourceSize</key>
                <string>{185,220}</string>
                <key>textureRect</key>
                <string>{{1110,666},{185,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dango2_jd_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,220}</string>
                <key>spriteSourceSize</key>
                <string>{185,220}</string>
                <key>textureRect</key>
                <string>{{1295,666},{185,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dango2_jd_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,220}</string>
                <key>spriteSourceSize</key>
                <string>{185,220}</string>
                <key>textureRect</key>
                <string>{{0,886},{185,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dango2_jd_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,220}</string>
                <key>spriteSourceSize</key>
                <string>{185,220}</string>
                <key>textureRect</key>
                <string>{{185,886},{185,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dango2_jd_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,220}</string>
                <key>spriteSourceSize</key>
                <string>{185,220}</string>
                <key>textureRect</key>
                <string>{{370,886},{185,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dango2_jd_011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,220}</string>
                <key>spriteSourceSize</key>
                <string>{185,220}</string>
                <key>textureRect</key>
                <string>{{555,886},{185,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dango2_jd_012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,220}</string>
                <key>spriteSourceSize</key>
                <string>{185,220}</string>
                <key>textureRect</key>
                <string>{{740,886},{185,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dango2_jd_013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,220}</string>
                <key>spriteSourceSize</key>
                <string>{185,220}</string>
                <key>textureRect</key>
                <string>{{925,886},{185,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dango2_jd_014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,220}</string>
                <key>spriteSourceSize</key>
                <string>{185,220}</string>
                <key>textureRect</key>
                <string>{{1110,886},{185,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dango2_jd_015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,220}</string>
                <key>spriteSourceSize</key>
                <string>{185,220}</string>
                <key>textureRect</key>
                <string>{{1295,886},{185,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dango2_jd_016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,220}</string>
                <key>spriteSourceSize</key>
                <string>{185,220}</string>
                <key>textureRect</key>
                <string>{{0,1106},{185,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dango2_jd_017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,220}</string>
                <key>spriteSourceSize</key>
                <string>{185,220}</string>
                <key>textureRect</key>
                <string>{{185,1106},{185,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dango2_jd_018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,220}</string>
                <key>spriteSourceSize</key>
                <string>{185,220}</string>
                <key>textureRect</key>
                <string>{{370,1106},{185,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dango2_jd_019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,220}</string>
                <key>spriteSourceSize</key>
                <string>{185,220}</string>
                <key>textureRect</key>
                <string>{{555,1106},{185,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dango2_jd_020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,220}</string>
                <key>spriteSourceSize</key>
                <string>{185,220}</string>
                <key>textureRect</key>
                <string>{{740,1106},{185,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dango2_jd_021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,220}</string>
                <key>spriteSourceSize</key>
                <string>{185,220}</string>
                <key>textureRect</key>
                <string>{{925,1106},{185,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dango2_jd_022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,220}</string>
                <key>spriteSourceSize</key>
                <string>{185,220}</string>
                <key>textureRect</key>
                <string>{{1110,1106},{185,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dango2_jd_023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,220}</string>
                <key>spriteSourceSize</key>
                <string>{185,220}</string>
                <key>textureRect</key>
                <string>{{1295,1106},{185,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dango2_ju_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,219}</string>
                <key>spriteSourceSize</key>
                <string>{184,219}</string>
                <key>textureRect</key>
                <string>{{0,1326},{184,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dango2_ju_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,219}</string>
                <key>spriteSourceSize</key>
                <string>{184,219}</string>
                <key>textureRect</key>
                <string>{{184,1326},{184,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dango2_ju_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,219}</string>
                <key>spriteSourceSize</key>
                <string>{184,219}</string>
                <key>textureRect</key>
                <string>{{368,1326},{184,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dango2_ju_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,219}</string>
                <key>spriteSourceSize</key>
                <string>{184,219}</string>
                <key>textureRect</key>
                <string>{{552,1326},{184,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dango2_ju_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,219}</string>
                <key>spriteSourceSize</key>
                <string>{184,219}</string>
                <key>textureRect</key>
                <string>{{736,1326},{184,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dango2_ju_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,219}</string>
                <key>spriteSourceSize</key>
                <string>{184,219}</string>
                <key>textureRect</key>
                <string>{{920,1326},{184,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dango2_ju_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,219}</string>
                <key>spriteSourceSize</key>
                <string>{184,219}</string>
                <key>textureRect</key>
                <string>{{1104,1326},{184,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dango2_ju_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,219}</string>
                <key>spriteSourceSize</key>
                <string>{184,219}</string>
                <key>textureRect</key>
                <string>{{1288,1326},{184,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dango2_ju_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,219}</string>
                <key>spriteSourceSize</key>
                <string>{184,219}</string>
                <key>textureRect</key>
                <string>{{0,1545},{184,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dango2_ju_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,219}</string>
                <key>spriteSourceSize</key>
                <string>{184,219}</string>
                <key>textureRect</key>
                <string>{{184,1545},{184,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dango2_ju_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,219}</string>
                <key>spriteSourceSize</key>
                <string>{184,219}</string>
                <key>textureRect</key>
                <string>{{368,1545},{184,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dango2_ju_011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,219}</string>
                <key>spriteSourceSize</key>
                <string>{184,219}</string>
                <key>textureRect</key>
                <string>{{552,1545},{184,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dango2_ju_012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,219}</string>
                <key>spriteSourceSize</key>
                <string>{184,219}</string>
                <key>textureRect</key>
                <string>{{736,1545},{184,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dango2_ju_013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,219}</string>
                <key>spriteSourceSize</key>
                <string>{184,219}</string>
                <key>textureRect</key>
                <string>{{920,1545},{184,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dango2_ju_014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,219}</string>
                <key>spriteSourceSize</key>
                <string>{184,219}</string>
                <key>textureRect</key>
                <string>{{1104,1545},{184,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dango2_ju_015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,219}</string>
                <key>spriteSourceSize</key>
                <string>{184,219}</string>
                <key>textureRect</key>
                <string>{{1288,1545},{184,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dango2_ju_016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,219}</string>
                <key>spriteSourceSize</key>
                <string>{184,219}</string>
                <key>textureRect</key>
                <string>{{0,1764},{184,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dango2_ju_017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,219}</string>
                <key>spriteSourceSize</key>
                <string>{184,219}</string>
                <key>textureRect</key>
                <string>{{184,1764},{184,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dango2_ju_018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,219}</string>
                <key>spriteSourceSize</key>
                <string>{184,219}</string>
                <key>textureRect</key>
                <string>{{368,1764},{184,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dango2_ju_019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,219}</string>
                <key>spriteSourceSize</key>
                <string>{184,219}</string>
                <key>textureRect</key>
                <string>{{552,1764},{184,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dango2_ju_020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,219}</string>
                <key>spriteSourceSize</key>
                <string>{184,219}</string>
                <key>textureRect</key>
                <string>{{736,1764},{184,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dango2_ju_021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,219}</string>
                <key>spriteSourceSize</key>
                <string>{184,219}</string>
                <key>textureRect</key>
                <string>{{920,1764},{184,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dango2_ju_022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,219}</string>
                <key>spriteSourceSize</key>
                <string>{184,219}</string>
                <key>textureRect</key>
                <string>{{1104,1764},{184,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dango2_ju_023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,219}</string>
                <key>spriteSourceSize</key>
                <string>{184,219}</string>
                <key>textureRect</key>
                <string>{{1288,1764},{184,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>dango2.png</string>
            <key>size</key>
            <string>{1512,1983}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:78e02637d3811c6e402ed1e54964b27c:96871c15a19ff5bfd9164ce18889a8b8:721046cba7c93a6ecdf81a0af01226fc$</string>
            <key>textureFileName</key>
            <string>dango2.png</string>
        </dict>
    </dict>
</plist>
