<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>plant1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{618,952}</string>
                <key>spriteSourceSize</key>
                <string>{618,952}</string>
                <key>textureRect</key>
                <string>{{0,0},{618,952}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>plant2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{618,952}</string>
                <key>spriteSourceSize</key>
                <string>{618,952}</string>
                <key>textureRect</key>
                <string>{{618,0},{618,952}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>plant3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{570,786}</string>
                <key>spriteSourceSize</key>
                <string>{570,786}</string>
                <key>textureRect</key>
                <string>{{1236,0},{570,786}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>plant4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{570,786}</string>
                <key>spriteSourceSize</key>
                <string>{570,786}</string>
                <key>textureRect</key>
                <string>{{1806,0},{570,786}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tree_stump1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{771,924}</string>
                <key>spriteSourceSize</key>
                <string>{771,924}</string>
                <key>textureRect</key>
                <string>{{2376,0},{771,924}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tree_stump2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{736,600}</string>
                <key>spriteSourceSize</key>
                <string>{736,600}</string>
                <key>textureRect</key>
                <string>{{3147,0},{736,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tree_stump3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{736,601}</string>
                <key>spriteSourceSize</key>
                <string>{736,601}</string>
                <key>textureRect</key>
                <string>{{3883,0},{736,601}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tree_stump4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{798,965}</string>
                <key>spriteSourceSize</key>
                <string>{798,965}</string>
                <key>textureRect</key>
                <string>{{4619,0},{798,965}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tree_stump5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{736,849}</string>
                <key>spriteSourceSize</key>
                <string>{736,849}</string>
                <key>textureRect</key>
                <string>{{5417,0},{736,849}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tree_stump6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{701,819}</string>
                <key>spriteSourceSize</key>
                <string>{701,819}</string>
                <key>textureRect</key>
                <string>{{6153,0},{701,819}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wood_info.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{769,865}</string>
                <key>spriteSourceSize</key>
                <string>{769,865}</string>
                <key>textureRect</key>
                <string>{{6854,0},{769,865}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>forest.png</string>
            <key>size</key>
            <string>{7623,965}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9da7701928821c1df4de2ee8f448625b:522b5a4c687259cc56cdb46c41e7029a:07eab2081b5ccbab9e9dd23162dfee60$</string>
            <key>textureFileName</key>
            <string>forest.png</string>
        </dict>
    </dict>
</plist>
