<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blue_mushroom.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,114}</string>
                <key>spriteSourceSize</key>
                <string>{159,114}</string>
                <key>textureRect</key>
                <string>{{100,1},{159,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grass.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,38}</string>
                <key>spriteSourceSize</key>
                <string>{28,38}</string>
                <key>textureRect</key>
                <string>{{261,74},{28,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>red_mushroom.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,97}</string>
                <key>spriteSourceSize</key>
                <string>{123,97}</string>
                <key>textureRect</key>
                <string>{{1,1},{123,97}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>red_mushroom2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,62}</string>
                <key>spriteSourceSize</key>
                <string>{71,62}</string>
                <key>textureRect</key>
                <string>{{261,1},{71,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>mushroom.png</string>
            <key>size</key>
            <string>{324,125}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f4088e162a648486f501a6695b9e0ab4:611afc2f1325a3a8efdcfc1b90e2e0b7:d9661e4c8a014435d5839e48826354c5$</string>
            <key>textureFileName</key>
            <string>mushroom.png</string>
        </dict>
    </dict>
</plist>
