<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dango1_attack_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,153},{185,151}}</string>
                <key>offset</key>
                <string>{-27,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,68},{185,151}}</string>
                <key>sourceSize</key>
                <string>{239,221}</string>
            </dict>
            <key>dango1_attack_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1956,153},{175,151}}</string>
                <key>offset</key>
                <string>{-3,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,56},{175,151}}</string>
                <key>sourceSize</key>
                <string>{239,221}</string>
            </dict>
            <key>dango1_attack_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2133,153},{163,151}}</string>
                <key>offset</key>
                <string>{22,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,44},{163,151}}</string>
                <key>sourceSize</key>
                <string>{239,221}</string>
            </dict>
            <key>dango1_attack_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1801,153},{153,151}}</string>
                <key>offset</key>
                <string>{43,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,32},{153,151}}</string>
                <key>sourceSize</key>
                <string>{239,221}</string>
            </dict>
            <key>dango1_attack_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1491,153},{153,151}}</string>
                <key>offset</key>
                <string>{39,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,27},{153,151}}</string>
                <key>sourceSize</key>
                <string>{239,221}</string>
            </dict>
            <key>dango1_attack_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1336,153},{153,151}}</string>
                <key>offset</key>
                <string>{34,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,22},{153,151}}</string>
                <key>sourceSize</key>
                <string>{239,221}</string>
            </dict>
            <key>dango1_attack_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1646,153},{153,151}}</string>
                <key>offset</key>
                <string>{29,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,16},{153,151}}</string>
                <key>sourceSize</key>
                <string>{239,221}</string>
            </dict>
            <key>dango1_attack_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1179,153},{155,151}}</string>
                <key>offset</key>
                <string>{24,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,11},{155,151}}</string>
                <key>sourceSize</key>
                <string>{239,221}</string>
            </dict>
            <key>dango1_attack_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1022,153},{155,151}}</string>
                <key>offset</key>
                <string>{19,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,6},{155,151}}</string>
                <key>sourceSize</key>
                <string>{239,221}</string>
            </dict>
            <key>dango1_attack_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,153},{155,151}}</string>
                <key>offset</key>
                <string>{14,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,1},{155,151}}</string>
                <key>sourceSize</key>
                <string>{239,221}</string>
            </dict>
            <key>dango1_attack_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{3743,2},{155,149}}</string>
                <key>offset</key>
                <string>{9,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,0},{155,149}}</string>
                <key>sourceSize</key>
                <string>{239,221}</string>
            </dict>
            <key>dango1_attack_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,153},{151,149}}</string>
                <key>offset</key>
                <string>{3,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,12},{151,149}}</string>
                <key>sourceSize</key>
                <string>{239,221}</string>
            </dict>
            <key>dango1_attack_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,153},{149,149}}</string>
                <key>offset</key>
                <string>{-4,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,24},{149,149}}</string>
                <key>sourceSize</key>
                <string>{239,221}</string>
            </dict>
            <key>dango1_attack_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{3445,2},{149,149}}</string>
                <key>offset</key>
                <string>{-11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,36},{149,149}}</string>
                <key>sourceSize</key>
                <string>{239,221}</string>
            </dict>
            <key>dango1_attack_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{3596,2},{145,149}}</string>
                <key>offset</key>
                <string>{-17,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,48},{145,149}}</string>
                <key>sourceSize</key>
                <string>{239,221}</string>
            </dict>
            <key>dango1_attack_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{3300,2},{143,147}}</string>
                <key>offset</key>
                <string>{-24,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,62},{143,147}}</string>
                <key>sourceSize</key>
                <string>{239,221}</string>
            </dict>
            <key>dango1_attack_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{3157,2},{141,147}}</string>
                <key>offset</key>
                <string>{-30,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,74},{141,147}}</string>
                <key>sourceSize</key>
                <string>{239,221}</string>
            </dict>
            <key>dango1_attack_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2566,2},{145,139}}</string>
                <key>offset</key>
                <string>{-30,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,82},{145,139}}</string>
                <key>sourceSize</key>
                <string>{239,221}</string>
            </dict>
            <key>dango1_attack_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{1192,2},{149,129}}</string>
                <key>offset</key>
                <string>{-30,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,92},{149,129}}</string>
                <key>sourceSize</key>
                <string>{239,221}</string>
            </dict>
            <key>dango1_attack_019.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,2},{153,121}}</string>
                <key>offset</key>
                <string>{-30,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,100},{153,121}}</string>
                <key>sourceSize</key>
                <string>{239,221}</string>
            </dict>
            <key>dango1_attack_020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{157,117}}</string>
                <key>offset</key>
                <string>{-30,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,104},{157,117}}</string>
                <key>sourceSize</key>
                <string>{239,221}</string>
            </dict>
            <key>dango1_attack_021.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,2},{161,119}}</string>
                <key>offset</key>
                <string>{-30,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,101},{161,119}}</string>
                <key>sourceSize</key>
                <string>{239,221}</string>
            </dict>
            <key>dango1_attack_022.png</key>
            <dict>
                <key>frame</key>
                <string>{{1025,2},{165,121}}</string>
                <key>offset</key>
                <string>{-30,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,99},{165,121}}</string>
                <key>sourceSize</key>
                <string>{239,221}</string>
            </dict>
            <key>dango1_attack_023.png</key>
            <dict>
                <key>frame</key>
                <string>{{1343,2},{171,131}}</string>
                <key>offset</key>
                <string>{-29,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,89},{171,131}}</string>
                <key>sourceSize</key>
                <string>{239,221}</string>
            </dict>
            <key>dango1_j_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2482,153},{184,152}}</string>
                <key>offset</key>
                <string>{2,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,68},{184,152}}</string>
                <key>sourceSize</key>
                <string>{188,220}</string>
            </dict>
            <key>dango1_j_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2298,153},{182,152}}</string>
                <key>offset</key>
                <string>{2,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,62},{182,152}}</string>
                <key>sourceSize</key>
                <string>{188,220}</string>
            </dict>
            <key>dango1_j_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{3828,153},{180,154}}</string>
                <key>offset</key>
                <string>{1,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,54},{180,154}}</string>
                <key>sourceSize</key>
                <string>{188,220}</string>
            </dict>
            <key>dango1_j_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1194,309},{176,156}}</string>
                <key>offset</key>
                <string>{1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,46},{176,156}}</string>
                <key>sourceSize</key>
                <string>{188,220}</string>
            </dict>
            <key>dango1_j_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,309},{174,156}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,40},{174,156}}</string>
                <key>sourceSize</key>
                <string>{188,220}</string>
            </dict>
            <key>dango1_j_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2676,309},{172,158}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,32},{172,158}}</string>
                <key>sourceSize</key>
                <string>{188,220}</string>
            </dict>
            <key>dango1_j_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,470},{168,160}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,24},{168,160}}</string>
                <key>sourceSize</key>
                <string>{188,220}</string>
            </dict>
            <key>dango1_j_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,470},{164,160}}</string>
                <key>offset</key>
                <string>{-2,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,18},{164,160}}</string>
                <key>sourceSize</key>
                <string>{188,220}</string>
            </dict>
            <key>dango1_j_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1286,470},{162,162}}</string>
                <key>offset</key>
                <string>{-3,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,11},{162,162}}</string>
                <key>sourceSize</key>
                <string>{188,220}</string>
            </dict>
            <key>dango1_j_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2566,470},{160,164}}</string>
                <key>offset</key>
                <string>{-4,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,3},{160,164}}</string>
                <key>sourceSize</key>
                <string>{188,220}</string>
            </dict>
            <key>dango1_j_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2886,470},{158,164}}</string>
                <key>offset</key>
                <string>{-4,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{158,164}}</string>
                <key>sourceSize</key>
                <string>{188,220}</string>
            </dict>
            <key>dango1_j_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2728,470},{156,164}}</string>
                <key>offset</key>
                <string>{-2,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,5},{156,164}}</string>
                <key>sourceSize</key>
                <string>{188,220}</string>
            </dict>
            <key>dango1_j_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1450,470},{154,162}}</string>
                <key>offset</key>
                <string>{-1,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,12},{154,162}}</string>
                <key>sourceSize</key>
                <string>{188,220}</string>
            </dict>
            <key>dango1_j_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,470},{150,160}}</string>
                <key>offset</key>
                <string>{1,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,19},{150,160}}</string>
                <key>sourceSize</key>
                <string>{188,220}</string>
            </dict>
            <key>dango1_j_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{3000,309},{150,158}}</string>
                <key>offset</key>
                <string>{2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,25},{150,158}}</string>
                <key>sourceSize</key>
                <string>{188,220}</string>
            </dict>
            <key>dango1_j_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2850,309},{148,158}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,30},{148,158}}</string>
                <key>sourceSize</key>
                <string>{188,220}</string>
            </dict>
            <key>dango1_j_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1046,309},{146,156}}</string>
                <key>offset</key>
                <string>{5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,37},{146,156}}</string>
                <key>sourceSize</key>
                <string>{188,220}</string>
            </dict>
            <key>dango1_j_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,309},{144,156}}</string>
                <key>offset</key>
                <string>{6,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,42},{144,156}}</string>
                <key>sourceSize</key>
                <string>{188,220}</string>
            </dict>
            <key>dango1_j_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{3684,153},{142,154}}</string>
                <key>offset</key>
                <string>{8,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,49},{142,154}}</string>
                <key>sourceSize</key>
                <string>{188,220}</string>
            </dict>
            <key>dango1_j_019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,309},{140,154}}</string>
                <key>offset</key>
                <string>{9,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,54},{140,154}}</string>
                <key>sourceSize</key>
                <string>{188,220}</string>
            </dict>
            <key>dango1_j_020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2713,2},{146,146}}</string>
                <key>offset</key>
                <string>{8,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,65},{146,146}}</string>
                <key>sourceSize</key>
                <string>{188,220}</string>
            </dict>
            <key>dango1_j_021.png</key>
            <dict>
                <key>frame</key>
                <string>{{1516,2},{164,132}}</string>
                <key>offset</key>
                <string>{1,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,81},{164,132}}</string>
                <key>sourceSize</key>
                <string>{188,220}</string>
            </dict>
            <key>dango1_j_022.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,2},{180,120}}</string>
                <key>offset</key>
                <string>{-4,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,95},{180,120}}</string>
                <key>sourceSize</key>
                <string>{188,220}</string>
            </dict>
            <key>dango1_j_023.png</key>
            <dict>
                <key>frame</key>
                <string>{{1682,2},{182,132}}</string>
                <key>offset</key>
                <string>{-1,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,85},{182,132}}</string>
                <key>sourceSize</key>
                <string>{188,220}</string>
            </dict>
            <key>dango1_jd_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{679,153},{184,151}}</string>
                <key>offset</key>
                <string>{0,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,68},{184,151}}</string>
                <key>sourceSize</key>
                <string>{184,219}</string>
            </dict>
            <key>dango1_jd_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2668,153},{182,153}}</string>
                <key>offset</key>
                <string>{-1,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,60},{182,153}}</string>
                <key>sourceSize</key>
                <string>{184,219}</string>
            </dict>
            <key>dango1_jd_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2852,153},{180,153}}</string>
                <key>offset</key>
                <string>{-1,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,54},{180,153}}</string>
                <key>sourceSize</key>
                <string>{184,219}</string>
            </dict>
            <key>dango1_jd_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2174,309},{176,157}}</string>
                <key>offset</key>
                <string>{-1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,45},{176,157}}</string>
                <key>sourceSize</key>
                <string>{184,219}</string>
            </dict>
            <key>dango1_jd_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2352,309},{174,157}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,39},{174,157}}</string>
                <key>sourceSize</key>
                <string>{184,219}</string>
            </dict>
            <key>dango1_jd_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{3152,309},{170,159}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,31},{170,159}}</string>
                <key>sourceSize</key>
                <string>{184,219}</string>
            </dict>
            <key>dango1_jd_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{3496,309},{168,159}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,25},{168,159}}</string>
                <key>sourceSize</key>
                <string>{184,219}</string>
            </dict>
            <key>dango1_jd_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1118,470},{166,161}}</string>
                <key>offset</key>
                <string>{-2,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,17},{166,161}}</string>
                <key>sourceSize</key>
                <string>{184,219}</string>
            </dict>
            <key>dango1_jd_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2400,470},{164,163}}</string>
                <key>offset</key>
                <string>{-2,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{164,163}}</string>
                <key>sourceSize</key>
                <string>{184,219}</string>
            </dict>
            <key>dango1_jd_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{3046,470},{160,165}}</string>
                <key>offset</key>
                <string>{-2,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,2},{160,165}}</string>
                <key>sourceSize</key>
                <string>{184,219}</string>
            </dict>
            <key>dango1_jd_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{3208,470},{158,165}}</string>
                <key>offset</key>
                <string>{-2,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{158,165}}</string>
                <key>sourceSize</key>
                <string>{184,219}</string>
            </dict>
            <key>dango1_jd_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1772,470},{156,163}}</string>
                <key>offset</key>
                <string>{-2,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,6},{156,163}}</string>
                <key>sourceSize</key>
                <string>{184,219}</string>
            </dict>
            <key>dango1_jd_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1930,470},{154,163}}</string>
                <key>offset</key>
                <string>{-2,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,11},{154,163}}</string>
                <key>sourceSize</key>
                <string>{184,219}</string>
            </dict>
            <key>dango1_jd_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,470},{152,161}}</string>
                <key>offset</key>
                <string>{-2,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,18},{152,161}}</string>
                <key>sourceSize</key>
                <string>{184,219}</string>
            </dict>
            <key>dango1_jd_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{3836,309},{150,159}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,24},{150,159}}</string>
                <key>sourceSize</key>
                <string>{184,219}</string>
            </dict>
            <key>dango1_jd_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1372,309},{148,157}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,31},{148,157}}</string>
                <key>sourceSize</key>
                <string>{184,219}</string>
            </dict>
            <key>dango1_jd_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2528,309},{146,157}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,36},{146,157}}</string>
                <key>sourceSize</key>
                <string>{184,219}</string>
            </dict>
            <key>dango1_jd_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,309},{144,155}}</string>
                <key>offset</key>
                <string>{-2,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,43},{144,155}}</string>
                <key>sourceSize</key>
                <string>{184,219}</string>
            </dict>
            <key>dango1_jd_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,309},{142,155}}</string>
                <key>offset</key>
                <string>{-2,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,48},{142,155}}</string>
                <key>sourceSize</key>
                <string>{184,219}</string>
            </dict>
            <key>dango1_jd_019.png</key>
            <dict>
                <key>frame</key>
                <string>{{3542,153},{140,153}}</string>
                <key>offset</key>
                <string>{-2,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,55},{140,153}}</string>
                <key>sourceSize</key>
                <string>{184,219}</string>
            </dict>
            <key>dango1_jd_020.png</key>
            <dict>
                <key>frame</key>
                <string>{{3009,2},{146,147}}</string>
                <key>offset</key>
                <string>{-2,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,64},{146,147}}</string>
                <key>sourceSize</key>
                <string>{184,219}</string>
            </dict>
            <key>dango1_jd_021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2400,2},{164,133}}</string>
                <key>offset</key>
                <string>{-2,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,80},{164,133}}</string>
                <key>sourceSize</key>
                <string>{184,219}</string>
            </dict>
            <key>dango1_jd_022.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,2},{180,119}}</string>
                <key>offset</key>
                <string>{-2,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,96},{180,119}}</string>
                <key>sourceSize</key>
                <string>{184,219}</string>
            </dict>
            <key>dango1_jd_023.png</key>
            <dict>
                <key>frame</key>
                <string>{{2050,2},{182,133}}</string>
                <key>offset</key>
                <string>{-1,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,83},{182,133}}</string>
                <key>sourceSize</key>
                <string>{184,219}</string>
            </dict>
            <key>dango1_ju_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,153},{184,151}}</string>
                <key>offset</key>
                <string>{0,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,68},{184,151}}</string>
                <key>sourceSize</key>
                <string>{184,219}</string>
            </dict>
            <key>dango1_ju_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{3176,153},{182,153}}</string>
                <key>offset</key>
                <string>{-1,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,60},{182,153}}</string>
                <key>sourceSize</key>
                <string>{184,219}</string>
            </dict>
            <key>dango1_ju_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{3360,153},{180,153}}</string>
                <key>offset</key>
                <string>{-1,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,54},{180,153}}</string>
                <key>sourceSize</key>
                <string>{184,219}</string>
            </dict>
            <key>dango1_ju_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1820,309},{176,157}}</string>
                <key>offset</key>
                <string>{-1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,45},{176,157}}</string>
                <key>sourceSize</key>
                <string>{184,219}</string>
            </dict>
            <key>dango1_ju_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1998,309},{174,157}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,39},{174,157}}</string>
                <key>sourceSize</key>
                <string>{184,219}</string>
            </dict>
            <key>dango1_ju_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{3324,309},{170,159}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,31},{170,159}}</string>
                <key>sourceSize</key>
                <string>{184,219}</string>
            </dict>
            <key>dango1_ju_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{3666,309},{168,159}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,25},{168,159}}</string>
                <key>sourceSize</key>
                <string>{184,219}</string>
            </dict>
            <key>dango1_ju_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,470},{166,161}}</string>
                <key>offset</key>
                <string>{-2,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,17},{166,161}}</string>
                <key>sourceSize</key>
                <string>{184,219}</string>
            </dict>
            <key>dango1_ju_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1606,470},{164,163}}</string>
                <key>offset</key>
                <string>{-2,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{164,163}}</string>
                <key>sourceSize</key>
                <string>{184,219}</string>
            </dict>
            <key>dango1_ju_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{3368,470},{160,165}}</string>
                <key>offset</key>
                <string>{-2,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,2},{160,165}}</string>
                <key>sourceSize</key>
                <string>{184,219}</string>
            </dict>
            <key>dango1_ju_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{3530,470},{158,165}}</string>
                <key>offset</key>
                <string>{-2,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{158,165}}</string>
                <key>sourceSize</key>
                <string>{184,219}</string>
            </dict>
            <key>dango1_ju_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2242,470},{156,163}}</string>
                <key>offset</key>
                <string>{-2,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,6},{156,163}}</string>
                <key>sourceSize</key>
                <string>{184,219}</string>
            </dict>
            <key>dango1_ju_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2086,470},{154,163}}</string>
                <key>offset</key>
                <string>{-2,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,11},{154,163}}</string>
                <key>sourceSize</key>
                <string>{184,219}</string>
            </dict>
            <key>dango1_ju_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,470},{152,161}}</string>
                <key>offset</key>
                <string>{-2,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,18},{152,161}}</string>
                <key>sourceSize</key>
                <string>{184,219}</string>
            </dict>
            <key>dango1_ju_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,470},{150,159}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,24},{150,159}}</string>
                <key>sourceSize</key>
                <string>{184,219}</string>
            </dict>
            <key>dango1_ju_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1670,309},{148,157}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,31},{148,157}}</string>
                <key>sourceSize</key>
                <string>{184,219}</string>
            </dict>
            <key>dango1_ju_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1522,309},{146,157}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,36},{146,157}}</string>
                <key>sourceSize</key>
                <string>{184,219}</string>
            </dict>
            <key>dango1_ju_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,309},{144,155}}</string>
                <key>offset</key>
                <string>{-2,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,43},{144,155}}</string>
                <key>sourceSize</key>
                <string>{184,219}</string>
            </dict>
            <key>dango1_ju_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,309},{142,155}}</string>
                <key>offset</key>
                <string>{-2,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,48},{142,155}}</string>
                <key>sourceSize</key>
                <string>{184,219}</string>
            </dict>
            <key>dango1_ju_019.png</key>
            <dict>
                <key>frame</key>
                <string>{{3034,153},{140,153}}</string>
                <key>offset</key>
                <string>{-2,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,55},{140,153}}</string>
                <key>sourceSize</key>
                <string>{184,219}</string>
            </dict>
            <key>dango1_ju_020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2861,2},{146,147}}</string>
                <key>offset</key>
                <string>{-2,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,64},{146,147}}</string>
                <key>sourceSize</key>
                <string>{184,219}</string>
            </dict>
            <key>dango1_ju_021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2234,2},{164,133}}</string>
                <key>offset</key>
                <string>{-2,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,80},{164,133}}</string>
                <key>sourceSize</key>
                <string>{184,219}</string>
            </dict>
            <key>dango1_ju_022.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,2},{180,119}}</string>
                <key>offset</key>
                <string>{-2,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,96},{180,119}}</string>
                <key>sourceSize</key>
                <string>{184,219}</string>
            </dict>
            <key>dango1_ju_023.png</key>
            <dict>
                <key>frame</key>
                <string>{{1866,2},{182,133}}</string>
                <key>offset</key>
                <string>{-1,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,83},{182,133}}</string>
                <key>sourceSize</key>
                <string>{184,219}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dango1.png</string>
            <key>size</key>
            <string>{4010,637}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8f12f03ed361c2ceefaaf3f7c028cde7:56ed5aedf7ff5adb0fc3462769f76e85:b6f2480ebdb958d2d972866798ad94c0$</string>
            <key>textureFileName</key>
            <string>dango1.png</string>
        </dict>
    </dict>
</plist>
