<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>attac_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,992},{184,152}}</string>
                <key>offset</key>
                <string>{-27,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,68},{184,152}}</string>
                <key>sourceSize</key>
                <string>{238,222}</string>
            </dict>
            <key>attac_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,1146},{176,152}}</string>
                <key>offset</key>
                <string>{-7,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,58},{176,152}}</string>
                <key>sourceSize</key>
                <string>{238,222}</string>
            </dict>
            <key>attac_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1300},{168,152}}</string>
                <key>offset</key>
                <string>{13,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,49},{168,152}}</string>
                <key>sourceSize</key>
                <string>{238,222}</string>
            </dict>
            <key>attac_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,992},{158,152}}</string>
                <key>offset</key>
                <string>{33,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,39},{158,152}}</string>
                <key>sourceSize</key>
                <string>{238,222}</string>
            </dict>
            <key>attac_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1144},{152,152}}</string>
                <key>offset</key>
                <string>{43,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,31},{152,152}}</string>
                <key>sourceSize</key>
                <string>{238,222}</string>
            </dict>
            <key>attac_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,1146},{154,152}}</string>
                <key>offset</key>
                <string>{39,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,27},{154,152}}</string>
                <key>sourceSize</key>
                <string>{238,222}</string>
            </dict>
            <key>attac_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,1300},{154,152}}</string>
                <key>offset</key>
                <string>{35,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,23},{154,152}}</string>
                <key>sourceSize</key>
                <string>{238,222}</string>
            </dict>
            <key>attac_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,1300},{154,152}}</string>
                <key>offset</key>
                <string>{31,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,19},{154,152}}</string>
                <key>sourceSize</key>
                <string>{238,222}</string>
            </dict>
            <key>attac_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,688},{154,150}}</string>
                <key>offset</key>
                <string>{27,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,16},{154,150}}</string>
                <key>sourceSize</key>
                <string>{238,222}</string>
            </dict>
            <key>attac_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,688},{154,150}}</string>
                <key>offset</key>
                <string>{23,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,12},{154,150}}</string>
                <key>sourceSize</key>
                <string>{238,222}</string>
            </dict>
            <key>attac_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,688},{154,150}}</string>
                <key>offset</key>
                <string>{20,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,8},{154,150}}</string>
                <key>sourceSize</key>
                <string>{238,222}</string>
            </dict>
            <key>attac_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,840},{154,150}}</string>
                <key>offset</key>
                <string>{16,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,4},{154,150}}</string>
                <key>sourceSize</key>
                <string>{238,222}</string>
            </dict>
            <key>attac_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,840},{154,150}}</string>
                <key>offset</key>
                <string>{12,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,0},{154,150}}</string>
                <key>sourceSize</key>
                <string>{238,222}</string>
            </dict>
            <key>attac_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,840},{152,150}}</string>
                <key>offset</key>
                <string>{7,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,6},{152,150}}</string>
                <key>sourceSize</key>
                <string>{238,222}</string>
            </dict>
            <key>attac_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,992},{152,150}}</string>
                <key>offset</key>
                <string>{1,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,16},{152,150}}</string>
                <key>sourceSize</key>
                <string>{238,222}</string>
            </dict>
            <key>attac_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,538},{150,148}}</string>
                <key>offset</key>
                <string>{-4,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,27},{150,148}}</string>
                <key>sourceSize</key>
                <string>{238,222}</string>
            </dict>
            <key>attac_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,538},{148,148}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,37},{148,148}}</string>
                <key>sourceSize</key>
                <string>{238,222}</string>
            </dict>
            <key>attac_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,524},{146,148}}</string>
                <key>offset</key>
                <string>{-15,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,46},{146,148}}</string>
                <key>sourceSize</key>
                <string>{238,222}</string>
            </dict>
            <key>attac_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,392},{144,148}}</string>
                <key>offset</key>
                <string>{-20,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,56},{144,148}}</string>
                <key>sourceSize</key>
                <string>{238,222}</string>
            </dict>
            <key>attac_019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,380},{142,148}}</string>
                <key>offset</key>
                <string>{-25,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,66},{142,148}}</string>
                <key>sourceSize</key>
                <string>{238,222}</string>
            </dict>
            <key>attac_020.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,388},{142,146}}</string>
                <key>offset</key>
                <string>{-30,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,76},{142,146}}</string>
                <key>sourceSize</key>
                <string>{238,222}</string>
            </dict>
            <key>attac_021.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,250},{144,140}}</string>
                <key>offset</key>
                <string>{-30,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,82},{144,140}}</string>
                <key>sourceSize</key>
                <string>{238,222}</string>
            </dict>
            <key>attac_022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,246},{148,132}}</string>
                <key>offset</key>
                <string>{-30,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,90},{148,132}}</string>
                <key>sourceSize</key>
                <string>{238,222}</string>
            </dict>
            <key>attac_023.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,124},{152,124}}</string>
                <key>offset</key>
                <string>{-30,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,98},{152,124}}</string>
                <key>sourceSize</key>
                <string>{238,222}</string>
            </dict>
            <key>attac_024.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{154,118}}</string>
                <key>offset</key>
                <string>{-30,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,104},{154,118}}</string>
                <key>sourceSize</key>
                <string>{238,222}</string>
            </dict>
            <key>attac_025.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{158,118}}</string>
                <key>offset</key>
                <string>{-30,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,104},{158,118}}</string>
                <key>sourceSize</key>
                <string>{238,222}</string>
            </dict>
            <key>attac_026.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,2},{162,120}}</string>
                <key>offset</key>
                <string>{-30,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,102},{162,120}}</string>
                <key>sourceSize</key>
                <string>{238,222}</string>
            </dict>
            <key>attac_027.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{164,122}}</string>
                <key>offset</key>
                <string>{-30,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,100},{164,122}}</string>
                <key>sourceSize</key>
                <string>{238,222}</string>
            </dict>
            <key>attac_028.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,124},{168,124}}</string>
                <key>offset</key>
                <string>{-29,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,97},{168,124}}</string>
                <key>sourceSize</key>
                <string>{238,222}</string>
            </dict>
            <key>attac_029.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,250},{176,136}}</string>
                <key>offset</key>
                <string>{-29,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,85},{176,136}}</string>
                <key>sourceSize</key>
                <string>{238,222}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dango1_attack.png</string>
            <key>size</key>
            <string>{502,1454}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:431ca77993031f6745385e0485c6322a:f9a55c8873286a621e99037121359783:3eb714dcb53f797b0606b1ef9aaf07d6$</string>
            <key>textureFileName</key>
            <string>dango1_attack.png</string>
        </dict>
    </dict>
</plist>
