<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>archer_attack_movement_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1470,81},{86,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,77}}</string>
                <key>sourceSize</key>
                <string>{86,77}</string>
            </dict>
            <key>archer_attack_movement_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1558,81},{86,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,77}}</string>
                <key>sourceSize</key>
                <string>{86,77}</string>
            </dict>
            <key>archer_attack_movement_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,160},{86,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,77}}</string>
                <key>sourceSize</key>
                <string>{86,77}</string>
            </dict>
            <key>archer_attack_movement_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,160},{86,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,77}}</string>
                <key>sourceSize</key>
                <string>{86,77}</string>
            </dict>
            <key>archer_attack_movement_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,160},{86,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,77}}</string>
                <key>sourceSize</key>
                <string>{86,77}</string>
            </dict>
            <key>archer_attack_movement_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,160},{86,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,77}}</string>
                <key>sourceSize</key>
                <string>{86,77}</string>
            </dict>
            <key>archer_attack_movement_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1646,81},{86,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,77}}</string>
                <key>sourceSize</key>
                <string>{86,77}</string>
            </dict>
            <key>archer_attack_movement_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1382,81},{86,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,77}}</string>
                <key>sourceSize</key>
                <string>{86,77}</string>
            </dict>
            <key>archer_attack_movement_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,81},{86,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,77}}</string>
                <key>sourceSize</key>
                <string>{86,77}</string>
            </dict>
            <key>archer_attack_movement_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1036,81},{86,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,77}}</string>
                <key>sourceSize</key>
                <string>{86,77}</string>
            </dict>
            <key>archer_steady_movement_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1296,81},{84,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,77}}</string>
                <key>sourceSize</key>
                <string>{84,77}</string>
            </dict>
            <key>archer_steady_movement_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1124,81},{84,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,77}}</string>
                <key>sourceSize</key>
                <string>{84,77}</string>
            </dict>
            <key>archer_steady_movement_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1210,81},{84,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,77}}</string>
                <key>sourceSize</key>
                <string>{84,77}</string>
            </dict>
            <key>archer_steady_movement_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,160},{84,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,77}}</string>
                <key>sourceSize</key>
                <string>{84,77}</string>
            </dict>
            <key>archer_steady_movement_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,160},{84,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,77}}</string>
                <key>sourceSize</key>
                <string>{84,77}</string>
            </dict>
            <key>archer_steady_movement_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1128,160},{84,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,77}}</string>
                <key>sourceSize</key>
                <string>{84,77}</string>
            </dict>
            <key>archer_steady_movement_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1214,160},{84,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,77}}</string>
                <key>sourceSize</key>
                <string>{84,77}</string>
            </dict>
            <key>archer_steady_movement_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1386,160},{84,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,77}}</string>
                <key>sourceSize</key>
                <string>{84,77}</string>
            </dict>
            <key>archer_steady_movement_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1644,160},{84,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,77}}</string>
                <key>sourceSize</key>
                <string>{84,77}</string>
            </dict>
            <key>archer_steady_movement_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1472,160},{84,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,77}}</string>
                <key>sourceSize</key>
                <string>{84,77}</string>
            </dict>
            <key>archer_steady_movement_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1558,160},{84,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,77}}</string>
                <key>sourceSize</key>
                <string>{84,77}</string>
            </dict>
            <key>archer_steady_movement_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1300,160},{84,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,77}}</string>
                <key>sourceSize</key>
                <string>{84,77}</string>
            </dict>
            <key>archer_steady_movement_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1042,160},{84,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,77}}</string>
                <key>sourceSize</key>
                <string>{84,77}</string>
            </dict>
            <key>archer_steady_movement_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,160},{84,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,77}}</string>
                <key>sourceSize</key>
                <string>{84,77}</string>
            </dict>
            <key>archer_steady_movement_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,160},{84,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,77}}</string>
                <key>sourceSize</key>
                <string>{84,77}</string>
            </dict>
            <key>archer_steady_movement_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,160},{84,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,77}}</string>
                <key>sourceSize</key>
                <string>{84,77}</string>
            </dict>
            <key>archer_steady_movement_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,160},{84,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,77}}</string>
                <key>sourceSize</key>
                <string>{84,77}</string>
            </dict>
            <key>archer_steady_movement_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,160},{84,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,77}}</string>
                <key>sourceSize</key>
                <string>{84,77}</string>
            </dict>
            <key>archer_steady_movement_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,160},{84,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,77}}</string>
                <key>sourceSize</key>
                <string>{84,77}</string>
            </dict>
            <key>archer_steady_movement_019.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,81},{84,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,77}}</string>
                <key>sourceSize</key>
                <string>{84,77}</string>
            </dict>
            <key>archer_steady_movement_020.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,81},{84,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,77}}</string>
                <key>sourceSize</key>
                <string>{84,77}</string>
            </dict>
            <key>archer_steady_movement_021.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,2},{84,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,77}}</string>
                <key>sourceSize</key>
                <string>{84,77}</string>
            </dict>
            <key>archer_steady_movement_022.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,2},{84,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,77}}</string>
                <key>sourceSize</key>
                <string>{84,77}</string>
            </dict>
            <key>archer_steady_movement_023.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,2},{84,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,77}}</string>
                <key>sourceSize</key>
                <string>{84,77}</string>
            </dict>
            <key>archer_steady_movement_024.png</key>
            <dict>
                <key>frame</key>
                <string>{{1120,2},{84,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,77}}</string>
                <key>sourceSize</key>
                <string>{84,77}</string>
            </dict>
            <key>archer_steady_movement_025.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,2},{84,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,77}}</string>
                <key>sourceSize</key>
                <string>{84,77}</string>
            </dict>
            <key>archer_steady_movement_026.png</key>
            <dict>
                <key>frame</key>
                <string>{{1034,2},{84,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,77}}</string>
                <key>sourceSize</key>
                <string>{84,77}</string>
            </dict>
            <key>archer_steady_movement_027.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,2},{84,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,77}}</string>
                <key>sourceSize</key>
                <string>{84,77}</string>
            </dict>
            <key>archer_steady_movement_028.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,2},{84,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,77}}</string>
                <key>sourceSize</key>
                <string>{84,77}</string>
            </dict>
            <key>archer_steady_movement_029.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{84,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,77}}</string>
                <key>sourceSize</key>
                <string>{84,77}</string>
            </dict>
            <key>archer_steady_movement_030.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,2},{84,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,77}}</string>
                <key>sourceSize</key>
                <string>{84,77}</string>
            </dict>
            <key>archer_steady_movement_031.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,2},{84,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,77}}</string>
                <key>sourceSize</key>
                <string>{84,77}</string>
            </dict>
            <key>archer_steady_movement_032.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,2},{84,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,77}}</string>
                <key>sourceSize</key>
                <string>{84,77}</string>
            </dict>
            <key>archer_steady_movement_033.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,2},{84,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,77}}</string>
                <key>sourceSize</key>
                <string>{84,77}</string>
            </dict>
            <key>archer_steady_movement_034.png</key>
            <dict>
                <key>frame</key>
                <string>{{1206,2},{84,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,77}}</string>
                <key>sourceSize</key>
                <string>{84,77}</string>
            </dict>
            <key>archer_steady_movement_035.png</key>
            <dict>
                <key>frame</key>
                <string>{{1378,2},{84,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,77}}</string>
                <key>sourceSize</key>
                <string>{84,77}</string>
            </dict>
            <key>archer_steady_movement_036.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,81},{84,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,77}}</string>
                <key>sourceSize</key>
                <string>{84,77}</string>
            </dict>
            <key>archer_steady_movement_037.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,81},{84,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,77}}</string>
                <key>sourceSize</key>
                <string>{84,77}</string>
            </dict>
            <key>archer_steady_movement_038.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,81},{84,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,77}}</string>
                <key>sourceSize</key>
                <string>{84,77}</string>
            </dict>
            <key>archer_steady_movement_039.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,81},{84,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,77}}</string>
                <key>sourceSize</key>
                <string>{84,77}</string>
            </dict>
            <key>archer_steady_movement_040.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,81},{84,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,77}}</string>
                <key>sourceSize</key>
                <string>{84,77}</string>
            </dict>
            <key>archer_steady_movement_041.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,81},{84,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,77}}</string>
                <key>sourceSize</key>
                <string>{84,77}</string>
            </dict>
            <key>archer_steady_movement_042.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,81},{84,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,77}}</string>
                <key>sourceSize</key>
                <string>{84,77}</string>
            </dict>
            <key>archer_steady_movement_043.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,81},{84,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,77}}</string>
                <key>sourceSize</key>
                <string>{84,77}</string>
            </dict>
            <key>archer_steady_movement_044.png</key>
            <dict>
                <key>frame</key>
                <string>{{1292,2},{84,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,77}}</string>
                <key>sourceSize</key>
                <string>{84,77}</string>
            </dict>
            <key>archer_steady_movement_045.png</key>
            <dict>
                <key>frame</key>
                <string>{{1464,2},{84,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,77}}</string>
                <key>sourceSize</key>
                <string>{84,77}</string>
            </dict>
            <key>archer_steady_movement_046.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,81},{84,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,77}}</string>
                <key>sourceSize</key>
                <string>{84,77}</string>
            </dict>
            <key>archer_steady_movement_047.png</key>
            <dict>
                <key>frame</key>
                <string>{{1550,2},{84,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,77}}</string>
                <key>sourceSize</key>
                <string>{84,77}</string>
            </dict>
            <key>archer_steady_movement_048.png</key>
            <dict>
                <key>frame</key>
                <string>{{1636,2},{84,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,77}}</string>
                <key>sourceSize</key>
                <string>{84,77}</string>
            </dict>
            <key>archer_steady_movement_049.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,2},{84,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,77}}</string>
                <key>sourceSize</key>
                <string>{84,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>archer.png</string>
            <key>size</key>
            <string>{1734,239}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:96b336b1308fead8b14537f912fcbd36:a7525c9b2c0420c6bd3f7ec2db46b121:fad562d0e9baf5c31b4838c1ea7e9105$</string>
            <key>textureFileName</key>
            <string>archer.png</string>
        </dict>
    </dict>
</plist>
