<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>splash_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{516,401}</string>
                <key>spriteSourceSize</key>
                <string>{516,401}</string>
                <key>textureRect</key>
                <string>{{0,0},{516,401}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>splash_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{516,401}</string>
                <key>spriteSourceSize</key>
                <string>{516,401}</string>
                <key>textureRect</key>
                <string>{{516,0},{516,401}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>splash_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{516,401}</string>
                <key>spriteSourceSize</key>
                <string>{516,401}</string>
                <key>textureRect</key>
                <string>{{1032,0},{516,401}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>splash_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{516,401}</string>
                <key>spriteSourceSize</key>
                <string>{516,401}</string>
                <key>textureRect</key>
                <string>{{0,401},{516,401}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>splash_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{516,401}</string>
                <key>spriteSourceSize</key>
                <string>{516,401}</string>
                <key>textureRect</key>
                <string>{{516,401},{516,401}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>splash_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{516,401}</string>
                <key>spriteSourceSize</key>
                <string>{516,401}</string>
                <key>textureRect</key>
                <string>{{1032,401},{516,401}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>splash_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{516,401}</string>
                <key>spriteSourceSize</key>
                <string>{516,401}</string>
                <key>textureRect</key>
                <string>{{0,802},{516,401}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>splash_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{516,401}</string>
                <key>spriteSourceSize</key>
                <string>{516,401}</string>
                <key>textureRect</key>
                <string>{{516,802},{516,401}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>splash_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{516,401}</string>
                <key>spriteSourceSize</key>
                <string>{516,401}</string>
                <key>textureRect</key>
                <string>{{1032,802},{516,401}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>splash_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{516,401}</string>
                <key>spriteSourceSize</key>
                <string>{516,401}</string>
                <key>textureRect</key>
                <string>{{0,1203},{516,401}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>splash_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{516,401}</string>
                <key>spriteSourceSize</key>
                <string>{516,401}</string>
                <key>textureRect</key>
                <string>{{516,1203},{516,401}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>splash_011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{516,401}</string>
                <key>spriteSourceSize</key>
                <string>{516,401}</string>
                <key>textureRect</key>
                <string>{{1032,1203},{516,401}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>splash_012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{516,401}</string>
                <key>spriteSourceSize</key>
                <string>{516,401}</string>
                <key>textureRect</key>
                <string>{{0,1604},{516,401}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>splash_013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{516,401}</string>
                <key>spriteSourceSize</key>
                <string>{516,401}</string>
                <key>textureRect</key>
                <string>{{516,1604},{516,401}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>splash_014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{516,401}</string>
                <key>spriteSourceSize</key>
                <string>{516,401}</string>
                <key>textureRect</key>
                <string>{{1032,1604},{516,401}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>splash.png</string>
            <key>size</key>
            <string>{1548,2005}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aee82bebab4bd408741f2904080a0c16:aa19b54110fb71e7a11c128906513c67:e88831084ba66a6415eb454e198a8d2b$</string>
            <key>textureFileName</key>
            <string>splash.png</string>
        </dict>
    </dict>
</plist>
