<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tower_attack_movement_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{167,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,173}}</string>
                <key>sourceSize</key>
                <string>{167,173}</string>
            </dict>
            <key>tower_attack_movement_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,2},{167,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,173}}</string>
                <key>sourceSize</key>
                <string>{167,173}</string>
            </dict>
            <key>tower_attack_movement_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,2},{167,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,173}}</string>
                <key>sourceSize</key>
                <string>{167,173}</string>
            </dict>
            <key>tower_attack_movement_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,2},{167,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,173}}</string>
                <key>sourceSize</key>
                <string>{167,173}</string>
            </dict>
            <key>tower_attack_movement_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,2},{167,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,173}}</string>
                <key>sourceSize</key>
                <string>{167,173}</string>
            </dict>
            <key>tower_attack_movement_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{847,2},{167,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,173}}</string>
                <key>sourceSize</key>
                <string>{167,173}</string>
            </dict>
            <key>tower_attack_movement_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1016,2},{167,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,173}}</string>
                <key>sourceSize</key>
                <string>{167,173}</string>
            </dict>
            <key>tower_attack_movement_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1185,2},{167,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,173}}</string>
                <key>sourceSize</key>
                <string>{167,173}</string>
            </dict>
            <key>tower_attack_movement_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1354,2},{167,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,173}}</string>
                <key>sourceSize</key>
                <string>{167,173}</string>
            </dict>
            <key>tower_attack_movement_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1523,2},{167,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,173}}</string>
                <key>sourceSize</key>
                <string>{167,173}</string>
            </dict>
            <key>tower_attack_movement_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1692,2},{167,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,173}}</string>
                <key>sourceSize</key>
                <string>{167,173}</string>
            </dict>
            <key>tower_attack_movement_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1861,2},{167,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,173}}</string>
                <key>sourceSize</key>
                <string>{167,173}</string>
            </dict>
            <key>tower_attack_movement_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2030,2},{167,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,173}}</string>
                <key>sourceSize</key>
                <string>{167,173}</string>
            </dict>
            <key>tower_attack_movement_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2199,2},{167,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,173}}</string>
                <key>sourceSize</key>
                <string>{167,173}</string>
            </dict>
            <key>tower_attack_movement_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2368,2},{167,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,173}}</string>
                <key>sourceSize</key>
                <string>{167,173}</string>
            </dict>
            <key>tower_steady_movement_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2537,2},{168,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,173}}</string>
                <key>sourceSize</key>
                <string>{168,173}</string>
            </dict>
            <key>tower_steady_movement_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2707,2},{168,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,173}}</string>
                <key>sourceSize</key>
                <string>{168,173}</string>
            </dict>
            <key>tower_steady_movement_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2877,2},{168,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,173}}</string>
                <key>sourceSize</key>
                <string>{168,173}</string>
            </dict>
            <key>tower_steady_movement_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{3047,2},{168,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,173}}</string>
                <key>sourceSize</key>
                <string>{168,173}</string>
            </dict>
            <key>tower_steady_movement_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,177},{168,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,173}}</string>
                <key>sourceSize</key>
                <string>{168,173}</string>
            </dict>
            <key>tower_steady_movement_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,177},{168,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,173}}</string>
                <key>sourceSize</key>
                <string>{168,173}</string>
            </dict>
            <key>tower_steady_movement_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,177},{168,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,173}}</string>
                <key>sourceSize</key>
                <string>{168,173}</string>
            </dict>
            <key>tower_steady_movement_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,177},{168,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,173}}</string>
                <key>sourceSize</key>
                <string>{168,173}</string>
            </dict>
            <key>tower_steady_movement_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,177},{168,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,173}}</string>
                <key>sourceSize</key>
                <string>{168,173}</string>
            </dict>
            <key>tower_steady_movement_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,177},{168,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,173}}</string>
                <key>sourceSize</key>
                <string>{168,173}</string>
            </dict>
            <key>tower_steady_movement_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1022,177},{168,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,173}}</string>
                <key>sourceSize</key>
                <string>{168,173}</string>
            </dict>
            <key>tower_steady_movement_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1192,177},{168,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,173}}</string>
                <key>sourceSize</key>
                <string>{168,173}</string>
            </dict>
            <key>tower_steady_movement_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1362,177},{168,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,173}}</string>
                <key>sourceSize</key>
                <string>{168,173}</string>
            </dict>
            <key>tower_steady_movement_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1532,177},{168,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,173}}</string>
                <key>sourceSize</key>
                <string>{168,173}</string>
            </dict>
            <key>tower_steady_movement_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1702,177},{168,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,173}}</string>
                <key>sourceSize</key>
                <string>{168,173}</string>
            </dict>
            <key>tower_steady_movement_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1872,177},{168,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,173}}</string>
                <key>sourceSize</key>
                <string>{168,173}</string>
            </dict>
            <key>tower_steady_movement_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2042,177},{168,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,173}}</string>
                <key>sourceSize</key>
                <string>{168,173}</string>
            </dict>
            <key>tower_steady_movement_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2212,177},{168,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,173}}</string>
                <key>sourceSize</key>
                <string>{168,173}</string>
            </dict>
            <key>tower_steady_movement_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2382,177},{168,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,173}}</string>
                <key>sourceSize</key>
                <string>{168,173}</string>
            </dict>
            <key>tower_steady_movement_019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2552,177},{168,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,173}}</string>
                <key>sourceSize</key>
                <string>{168,173}</string>
            </dict>
            <key>tower_steady_movement_020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2722,177},{168,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,173}}</string>
                <key>sourceSize</key>
                <string>{168,173}</string>
            </dict>
            <key>tower_steady_movement_021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2892,177},{168,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,173}}</string>
                <key>sourceSize</key>
                <string>{168,173}</string>
            </dict>
            <key>tower_steady_movement_022.png</key>
            <dict>
                <key>frame</key>
                <string>{{3062,177},{168,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,173}}</string>
                <key>sourceSize</key>
                <string>{168,173}</string>
            </dict>
            <key>tower_steady_movement_023.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,352},{168,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,173}}</string>
                <key>sourceSize</key>
                <string>{168,173}</string>
            </dict>
            <key>tower_steady_movement_024.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,352},{168,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,173}}</string>
                <key>sourceSize</key>
                <string>{168,173}</string>
            </dict>
            <key>tower_steady_movement_025.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,352},{168,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,173}}</string>
                <key>sourceSize</key>
                <string>{168,173}</string>
            </dict>
            <key>tower_steady_movement_026.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,352},{168,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,173}}</string>
                <key>sourceSize</key>
                <string>{168,173}</string>
            </dict>
            <key>tower_steady_movement_027.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,352},{168,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,173}}</string>
                <key>sourceSize</key>
                <string>{168,173}</string>
            </dict>
            <key>tower_steady_movement_028.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,352},{168,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,173}}</string>
                <key>sourceSize</key>
                <string>{168,173}</string>
            </dict>
            <key>tower_steady_movement_029.png</key>
            <dict>
                <key>frame</key>
                <string>{{1022,352},{168,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,173}}</string>
                <key>sourceSize</key>
                <string>{168,173}</string>
            </dict>
            <key>tower_steady_movement_030.png</key>
            <dict>
                <key>frame</key>
                <string>{{1192,352},{168,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,173}}</string>
                <key>sourceSize</key>
                <string>{168,173}</string>
            </dict>
            <key>tower_steady_movement_031.png</key>
            <dict>
                <key>frame</key>
                <string>{{1362,352},{168,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,173}}</string>
                <key>sourceSize</key>
                <string>{168,173}</string>
            </dict>
            <key>tower_steady_movement_032.png</key>
            <dict>
                <key>frame</key>
                <string>{{1532,352},{168,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,173}}</string>
                <key>sourceSize</key>
                <string>{168,173}</string>
            </dict>
            <key>tower_steady_movement_033.png</key>
            <dict>
                <key>frame</key>
                <string>{{1702,352},{168,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,173}}</string>
                <key>sourceSize</key>
                <string>{168,173}</string>
            </dict>
            <key>tower_steady_movement_034.png</key>
            <dict>
                <key>frame</key>
                <string>{{1872,352},{168,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,173}}</string>
                <key>sourceSize</key>
                <string>{168,173}</string>
            </dict>
            <key>tower_steady_movement_035.png</key>
            <dict>
                <key>frame</key>
                <string>{{2042,352},{168,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,173}}</string>
                <key>sourceSize</key>
                <string>{168,173}</string>
            </dict>
            <key>tower_steady_movement_036.png</key>
            <dict>
                <key>frame</key>
                <string>{{2212,352},{168,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,173}}</string>
                <key>sourceSize</key>
                <string>{168,173}</string>
            </dict>
            <key>tower_steady_movement_037.png</key>
            <dict>
                <key>frame</key>
                <string>{{2382,352},{168,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,173}}</string>
                <key>sourceSize</key>
                <string>{168,173}</string>
            </dict>
            <key>tower_steady_movement_038.png</key>
            <dict>
                <key>frame</key>
                <string>{{2552,352},{168,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,173}}</string>
                <key>sourceSize</key>
                <string>{168,173}</string>
            </dict>
            <key>tower_steady_movement_039.png</key>
            <dict>
                <key>frame</key>
                <string>{{2722,352},{168,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,173}}</string>
                <key>sourceSize</key>
                <string>{168,173}</string>
            </dict>
            <key>tower_steady_movement_040.png</key>
            <dict>
                <key>frame</key>
                <string>{{2892,352},{168,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,173}}</string>
                <key>sourceSize</key>
                <string>{168,173}</string>
            </dict>
            <key>tower_steady_movement_041.png</key>
            <dict>
                <key>frame</key>
                <string>{{3062,352},{168,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,173}}</string>
                <key>sourceSize</key>
                <string>{168,173}</string>
            </dict>
            <key>tower_steady_movement_042.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,527},{168,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,173}}</string>
                <key>sourceSize</key>
                <string>{168,173}</string>
            </dict>
            <key>tower_steady_movement_043.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,527},{168,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,173}}</string>
                <key>sourceSize</key>
                <string>{168,173}</string>
            </dict>
            <key>tower_steady_movement_044.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,527},{168,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,173}}</string>
                <key>sourceSize</key>
                <string>{168,173}</string>
            </dict>
            <key>tower_steady_movement_045.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,527},{168,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,173}}</string>
                <key>sourceSize</key>
                <string>{168,173}</string>
            </dict>
            <key>tower_steady_movement_046.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,527},{168,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,173}}</string>
                <key>sourceSize</key>
                <string>{168,173}</string>
            </dict>
            <key>tower_steady_movement_047.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,527},{168,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,173}}</string>
                <key>sourceSize</key>
                <string>{168,173}</string>
            </dict>
            <key>tower_steady_movement_048.png</key>
            <dict>
                <key>frame</key>
                <string>{{1022,527},{168,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,173}}</string>
                <key>sourceSize</key>
                <string>{168,173}</string>
            </dict>
            <key>tower_steady_movement_049.png</key>
            <dict>
                <key>frame</key>
                <string>{{1192,527},{168,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,173}}</string>
                <key>sourceSize</key>
                <string>{168,173}</string>
            </dict>
            <key>tower_steady_movement_050.png</key>
            <dict>
                <key>frame</key>
                <string>{{1362,527},{168,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,173}}</string>
                <key>sourceSize</key>
                <string>{168,173}</string>
            </dict>
            <key>tower_steady_movement_051.png</key>
            <dict>
                <key>frame</key>
                <string>{{1532,527},{168,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,173}}</string>
                <key>sourceSize</key>
                <string>{168,173}</string>
            </dict>
            <key>tower_steady_movement_052.png</key>
            <dict>
                <key>frame</key>
                <string>{{1702,527},{168,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,173}}</string>
                <key>sourceSize</key>
                <string>{168,173}</string>
            </dict>
            <key>tower_steady_movement_053.png</key>
            <dict>
                <key>frame</key>
                <string>{{1872,527},{168,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,173}}</string>
                <key>sourceSize</key>
                <string>{168,173}</string>
            </dict>
            <key>tower_steady_movement_054.png</key>
            <dict>
                <key>frame</key>
                <string>{{2042,527},{168,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,173}}</string>
                <key>sourceSize</key>
                <string>{168,173}</string>
            </dict>
            <key>tower_steady_movement_055.png</key>
            <dict>
                <key>frame</key>
                <string>{{2212,527},{168,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,173}}</string>
                <key>sourceSize</key>
                <string>{168,173}</string>
            </dict>
            <key>tower_steady_movement_056.png</key>
            <dict>
                <key>frame</key>
                <string>{{2382,527},{168,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,173}}</string>
                <key>sourceSize</key>
                <string>{168,173}</string>
            </dict>
            <key>tower_steady_movement_057.png</key>
            <dict>
                <key>frame</key>
                <string>{{2552,527},{168,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,173}}</string>
                <key>sourceSize</key>
                <string>{168,173}</string>
            </dict>
            <key>tower_steady_movement_058.png</key>
            <dict>
                <key>frame</key>
                <string>{{2722,527},{168,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,173}}</string>
                <key>sourceSize</key>
                <string>{168,173}</string>
            </dict>
            <key>tower_steady_movement_059.png</key>
            <dict>
                <key>frame</key>
                <string>{{2892,527},{168,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,173}}</string>
                <key>sourceSize</key>
                <string>{168,173}</string>
            </dict>
            <key>tower_steady_movement_060.png</key>
            <dict>
                <key>frame</key>
                <string>{{3062,527},{168,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,173}}</string>
                <key>sourceSize</key>
                <string>{168,173}</string>
            </dict>
            <key>tower_steady_movement_061.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,702},{168,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,173}}</string>
                <key>sourceSize</key>
                <string>{168,173}</string>
            </dict>
            <key>tower_steady_movement_062.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,702},{168,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,173}}</string>
                <key>sourceSize</key>
                <string>{168,173}</string>
            </dict>
            <key>tower_steady_movement_063.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,702},{168,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,173}}</string>
                <key>sourceSize</key>
                <string>{168,173}</string>
            </dict>
            <key>tower_steady_movement_064.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,702},{168,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,173}}</string>
                <key>sourceSize</key>
                <string>{168,173}</string>
            </dict>
            <key>tower_steady_movement_065.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,702},{168,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,173}}</string>
                <key>sourceSize</key>
                <string>{168,173}</string>
            </dict>
            <key>tower_steady_movement_066.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,702},{168,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,173}}</string>
                <key>sourceSize</key>
                <string>{168,173}</string>
            </dict>
            <key>tower_steady_movement_067.png</key>
            <dict>
                <key>frame</key>
                <string>{{1022,702},{168,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,173}}</string>
                <key>sourceSize</key>
                <string>{168,173}</string>
            </dict>
            <key>tower_steady_movement_068.png</key>
            <dict>
                <key>frame</key>
                <string>{{1192,702},{168,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,173}}</string>
                <key>sourceSize</key>
                <string>{168,173}</string>
            </dict>
            <key>tower_steady_movement_069.png</key>
            <dict>
                <key>frame</key>
                <string>{{1362,702},{168,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,173}}</string>
                <key>sourceSize</key>
                <string>{168,173}</string>
            </dict>
            <key>tower_steady_movement_070.png</key>
            <dict>
                <key>frame</key>
                <string>{{1532,702},{168,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,173}}</string>
                <key>sourceSize</key>
                <string>{168,173}</string>
            </dict>
            <key>tower_steady_movement_071.png</key>
            <dict>
                <key>frame</key>
                <string>{{1702,702},{168,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,173}}</string>
                <key>sourceSize</key>
                <string>{168,173}</string>
            </dict>
            <key>tower_steady_movement_072.png</key>
            <dict>
                <key>frame</key>
                <string>{{1872,702},{168,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,173}}</string>
                <key>sourceSize</key>
                <string>{168,173}</string>
            </dict>
            <key>tower_steady_movement_073.png</key>
            <dict>
                <key>frame</key>
                <string>{{2042,702},{168,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,173}}</string>
                <key>sourceSize</key>
                <string>{168,173}</string>
            </dict>
            <key>tower_steady_movement_074.png</key>
            <dict>
                <key>frame</key>
                <string>{{2212,702},{168,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,173}}</string>
                <key>sourceSize</key>
                <string>{168,173}</string>
            </dict>
            <key>tower_steady_movement_075.png</key>
            <dict>
                <key>frame</key>
                <string>{{2382,702},{168,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,173}}</string>
                <key>sourceSize</key>
                <string>{168,173}</string>
            </dict>
            <key>tower_steady_movement_076.png</key>
            <dict>
                <key>frame</key>
                <string>{{2552,702},{168,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,173}}</string>
                <key>sourceSize</key>
                <string>{168,173}</string>
            </dict>
            <key>tower_steady_movement_077.png</key>
            <dict>
                <key>frame</key>
                <string>{{2722,702},{168,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,173}}</string>
                <key>sourceSize</key>
                <string>{168,173}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tower.png</string>
            <key>size</key>
            <string>{3232,877}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9aa6c545c1954ae7e06e7d3b0f9f95f7:c97693f366ef1126d1358274d0125761:0e760ff8ddf4cb8c1511a36966d1a804$</string>
            <key>textureFileName</key>
            <string>tower.png</string>
        </dict>
    </dict>
</plist>
